
h1 {
    color: #b9ef15;
    text-align: center;
}
p,h2 {
    color: #b9ef15;
    text-align: center;
}
* {
    border: solid;
}
.header {
    background-color: #ff0000;
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item{
    display: flex;
}
.footer{
    display: flex;
    justify-content: end;
}
.sitedescription{
    display: flex;
    justify-content: space-evenly;
}